.cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  background-color: #ffffff;
  padding-left: 5%;
}
.remove-all-btn {
  background-color: transparent;
  color: #f7931e;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 20px;
  border-width: 0px;
  margin-top: 25px;
  cursor: pointer;
  margin-right: 35px;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.item-details-1 {
  font-family: DM Sans;
  color: #475569;
  font-weight: 500;
  width: 220px;
  background-color: red;
}

.item-details-2 {
  font-family: DM Sans;
  color: #475569;
  font-weight: 500;
  width: 200px;
}
